@media (max-width: 1650px) {
  p.about-txt {
    font-size: 22px !important;
    margin-top: 70px !important;
  }
}

@media (max-width: 1450px) {
  .about-img {
    height: 375px;
    margin-top: 90px;
  }
  .lead {
    font-family: "Montserrat";
    font-size: 16px;
  }
}

@media (max-width: 1400px) {
  #header-home {
    height: 100vh;

    .header-content {
      margin-top: 120px;

      h1 {
        font-size: 2.5rem;
        margin-top: 70px;
      }

      .specialize {
        font-size: 0.9rem;
        margin-top: auto auto;
      }
    }
  }

  .top-process {
    font-size: 15px;
    line-height: 1.7;
  }

  p {
    font-size: 1rem;
    line-height: 2;
  }

  #about-c {
    .container-tech {
      height: 275px;
      margin-top: 0px;
    }

    .logo2 {
      width: 100%;
      height: 275px;
      margin: auto auto;
    }
  }
  p.about-txt {
    font-size: 17px !important;
    margin-top: 50px !important;
  }
}

@media (max-width: 1024px) {
  #header-home {
    height: 100vh;

    .header-content {
      h1 {
        font-size: 2.5rem;
        margin-top: 100px;
      }
    }
  }

  .lead {
    font-family: "Montserrat";
    font-size: 16px;
  }
}

@media (max-width: 920px) {
  #header-home {
    height: 100vh;

    .header-content {
      h1 {
        font-size: 2.3rem;
        margin-top: 100px;
      }

      .specialize {
        font-size: 0.7rem;
        margin-top: -40px;
      }
    }
  }

  .lead {
    font-size: 1.04rem;
  }

  .specialize {
    font-size: 1rem;
    padding-top: 2.5rem;
  }
}

@media (max-width: 829px) {
  #about-c {
    .container-tech {
      height: 270px;
      width: 100%;
    }

    .logo2 {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 768px) {
  #header-home {
    height: 100vh;

    .header-content {
      h1 {
        font-size: 2rem;
        margin-top: 100px;
      }

      .specialize {
        font-size: 0.9rem;
      }
    }
  }

  #about-c {
    .container-tech {
      height: 265px;
      width: 100%;
    }

    .logo2 {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 720px) {
  #navbar {
    .nav-logo {
      display: none;
    }

    li {
      margin: 0 auto;
    }
  }
}

// Smartphones
@media (max-width: 640px) {
  #header {
    &-home {
      height: 100vh;
      border-bottom: 3px solid $main-color;
      background-position: 50% 50%;

      .navbar {
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        margin-left: -45px;
        height: 50px;
        padding: 20px;

        li {
          padding: 1rem;
        }

        .text-primary {
          font-size: 2rem;
        }
      }

      .header-content {
        margin-top: 160px;

        h1 {
          font-size: 1.7rem;
          margin-top: 70px;
        }
      }

      .text-primary {
        display: none;
      }
    }

    &-inner {
      height: 5rem;
    }
  }

  .specialize {
    font-size: 1rem;
    padding-top: 2.5rem;
  }

  // Stack Grid Columns
  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #about-d .testimonials,
  #contact-b .contact-info,
  .items {
    grid-template-columns: 1fr;
  }

  // Home
  #home {
    &-a {
      .specials div {
        border-bottom: 1px $light-color solid;
        padding-bottom: 1rem;

        &:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }

    &-b {
      .stats div {
        padding: 2rem 0 1rem 0;
      }
    }
  }

  // About
  #about {
    &-a {
      .about-info {
        grid-template-areas:
          "bioimage"
          "bio"
          "aw1"
          "aw2"
          "aw3";
      }

      .bio {
        padding: 1rem;
      }
    }
  }

  #about-c {
    .container-tech {
      height: 220px;
      width: 100%;
    }

    .logo2 {
      width: 100%;
      height: 100%;
    }
  }

  // Contact
  #contact {
    &-a {
      .text-fields {
        grid-template-areas:
          "name"
          "subject"
          "email"
          "phone"
          "message";
      }
    }

    &-b {
      div {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px #555 solid;

        &:last-child {
          border: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }

    &-c {
      h1 {
        font-size: 2rem;
      }
    }
  }

  .contact-button {
    width: 100%;
  }

  // Footer

  #main-footer {
    height: 7rem;

    .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem;
    }
  }
}

// Landscape media queries *****

@media (max-width: 580px) {
  #header-home {
    .header-content {
      padding-top: 1rem;

      h1 {
        font-size: 1.5rem;
        margin-top: 6rem;
      }

      .specialize {
        font-size: 0.7rem;
      }
    }
  }

  .my-tech {
    font-size: 1.8rem;
  }

  .about-txt {
    padding: 1px 3px 10px 3px;
  }

  #about {
    &-c {
      .logo2 {
        width: 100%;
        height: 100%;
      }

      .container-tech {
        height: 195px;
        width: 100%;
      }
    }
  }
}

@media (max-width: 440px) {
  #header-home {
    height: 100vh;
  }

  #about {
    &-c {
      .logo2 {
        width: 100%;
        height: 100%;
      }

      .container-tech {
        height: 140px;
        width: 100%;
      }
    }
  }

  .lead {
    font-size: 0.9rem;
    padding: none;
  }

  .my-tech {
    font-size: 1.6rem;
  }

  .design-p {
    font-size: 2rem;
  }

  .about-txt {
    padding: 1px;
  }

  .lead {
    padding: 1px;
    font-size: 1rem;
  }
}

@media (max-width: 430px) {
  #header-home {
    height: 100vh !important;

    .header-content {
      h1 {
        font-size: 1.1rem;
        margin-top: 112px;
      }

      .specialize {
        padding: 1px;
        margin-top: 0.5rem;
      }
    }
    .logo2 {
      width: 100%;
      height: 100%;
    }
  }

  /*NAVBAR AND HEADER ON SMALL DEVICES*/

  #header-inner {
    height: 5rem;
    font-size: 0.5rem;
    margin-left: -5px;
  }

  /*END OF NAVBAR AND HEADER ON SMALLER DEVICES*/

  .about-p {
    padding: 0px;
  }

  .lead {
    padding: 1px;
  }

  h4 {
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 3px;
  }

  .about-txt {
    padding: 1px 1px 10px 1px;
  }

  #header-home {
    background: rgba(0, 0, 0, 0.3) $bg-image-2 50% 50% / 100% no-repeat fixed;
    background-blend-mode: darken;
    background-size: cover;
    color: white;
  }

  .my-tech {
    margin: 0 auto;
    font-size: 1.35rem;
  }

  .bio-image {
    margin-bottom: 5px;
  }

  .contact-button {
    width: 50%;
  }
  p.about-txt {
    font-size: 14px !important;
    margin-top: 10px !important;
    line-height: 1.5;
    padding-bottom: 5px !important;
  }
  p.item-text-category {
    font-size: 10px;
  }
}

@media (max-width: 380px) {
  .specialize {
    margin-top: 0.2rem;
  }

  #about {
    &-c {
      .logo2 {
        width: 100%;
        height: 100%;
      }

      .container-tech {
        height: 120lpx;
        width: 100%;
      }
    }
  }
}
