@import "config";

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 10px 20px 0;
}

/*overlay PROJECTS*/

.item {
  position: relative;
  background: linear-gradient(rgb(95, 95, 95), rgb(9, 9, 9));
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    display: block;
    background: inherit;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    transition: transform 3s cubic-bezier(0.1, 1, 0.25, 1);
  }

  //main color overlay for grid images

  &:hover:after {
    transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
  }

  //scaling image on hover

  &:hover &-image {
    transform: scale(1.1);
  }

  //text zoom on hover

  &:hover &-text {
    opacity: 1;
    transform: translateY(0);
  }

  &-image {
    height: auto;
    transform: translateZ(0);
    display: block;
    transition: transform 750ms cubic-bezier(0.1, 1, 0.25, 1);
  }

  &-image:before {
    content: "";
    display: block;
    padding-top: 75%;
    overflow: hidden;
  }

  &-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    line-height: 0;
  }

  &-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: white;
    transform: translateY(-20%);
    transition: opacity 500ms cubic-bezier(0.1, 1, 0.25, 1),
      transform 500ms cubic-bezier(0.2, 1, 0.25, 1);
    transition-delay: 375ms;
  }

  &-text-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  &-text-title {
    font-size: 1.4rem;
    padding: 0 1rem;
    margin: 5px 0 0 0;
  }

  &-text-category {
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.9;
    margin: 0;
    padding: 10px;
  }
}

.TGauto {
  color: rgb(190, 72, 29);
  font-size: 1.7rem;
}

.dice {
  color: rgb(30, 182, 177);
}

.florida {
  color: rgb(106, 116, 230);
}

.comedian {
  color: rgb(81, 161, 149);
}

.SW {
  color: rgb(45, 202, 250);
}

.calc {
  color: rgba(158, 219, 134, 0.94);
}

.tindog {
  color: rgb(176, 92, 175);
}

.bay {
  color: rgb(212, 157, 62);
}

.port {
  color: rgba(246, 234, 13, 0.999);
}
