@import "config";
@import "utilities";
@import "item_grid";

//General Styling

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 2;
  background-color: rgb(27, 26, 26);
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Karla", sans-serif;
  color: white;
}

h4 {
  margin-bottom: 40px;
  font-family: "Karla", sans-serif;
  font-weight: 500;
  word-spacing: 5;
}

p {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1rem;
  text-align: center;
  padding: 0 50px 0 50px;
}

.about-txt {
  font-size: 0.9rem;
  line-height: 1.6;
  word-spacing: 2px;
}

.about-p {
  padding-bottom: 15px;
}

.top-process {
  font-family: "Montserrat", sans-serif;
  line-height: 2.2;
  font-size: 0.9rem;
  padding: 0px 5px;
  margin: 0 auto;
}

.icon-a {
  font-size: 0.9rem;
  margin-top: 15px;
  text-align: center;
  line-height: 1.5rem;
  word-spacing: 1px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

img {
  width: 100%;
}

button {
  background-color: rgb(73, 113, 73);
  padding: 7px;
  margin: 0 auto;
  border-radius: 7px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.navbar.top {
  background: transparent;
}

.home {
  margin: 0 -25px;
}

.text-primary {
  font-family: "Dawning of a New Day", cursive;
  margin-left: 20px;
  font-size: 1.7rem;
}

.weblinks {
  font-size: 0.9rem;
  color: rgb(246, 237, 237);
}

a.weblinks:hover {
  color: $main-color;
  font-size: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(82, 82, 82);
  opacity: 0.7;
  height: 60px;
  width: 100%;
  position: fixed;
  transition: 0.5s;
  z-index: 2;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "Karla", sans-serif;
    border-bottom: 1px transparent solid;
    padding-bottom: 1rem;
    transition: border-color 0.6s;

    &:hover {
      font-style: italic;
      color: $main-color;
      opacity: none;
      font-size: 1.1rem;
      font-weight: 800;
    }

    &:current {
      color: $main-color;
    }
  }

  .nav-heading {
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
    color: white;
  }

  .navbar.top {
    background: transparent;
  }
}

//header

#header {
  &-home {
    background: rgba(0, 0, 0, 0.5) $bg-image 30% 7% / 100% no-repeat fixed;
    background-blend-mode: darken;
    background-size: cover;
    height: 600px;
    color: white;

    //header text-content

    .header-content {
      text-align: center;
      padding: 4%;
      margin-top: 75px;

      h1 {
        font-size: 2.95rem;
        margin-top: 5rem;
      }

      .btn-pro {
        text-decoration: underline;
      }

      .txt-type {
        color: $main-color;
      }

      .specialize {
        font-size: 0.99rem;
        color: rgb(244, 244, 248);
        margin-bottom: 3rem;
        font-family: "Montserrat", sans-serif;
      }
    }
  }

  // Header inner

  &-inner {
    background: rgba(0, 0, 0, 0.2) $bg-image 50% 60% / 100% no-repeat fixed;
    background-blend-mode: darken;
    background-size: cover;
    height: 4.5rem;
    border-bottom: 3px solid $main-color;
    margin-top: 0 auto;
  }
}

//top home section (a)

#home {
  &-a {
    .specials {
      margin-top: 3rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
    }

    .fas {
      color: $main-color;
      padding-bottom: 0.4rem;
    }
  }

  // Awards and work section (b)

  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 350px;

      li {
        line-height: 2;

        &.stats-title {
          font-size: 1.5rem;
        }

        &.stats-number {
          font-size: 2rem;
          font-weight: bold;
        }
      }

      div {
        padding: 3rem;

        &:nth-child(odd) {
          background-image: url("../img/mainbackground.jpg");
        }

        &:nth-child(even) {
          background: $medium-color;
        }
      }
    }
  }

  //home section C

  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      text-align: center;

      //process-step

      .design {
        font-size: 0.8rem;
        padding: 5px;
      }

      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 28px;
        background: $main-color;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        line-height: 15px;
        padding: 1rem;
        transition: all 1s;
      }

      //process-icon

      &-icon {
        border-radius: 50%;
        background: $dark-color;
        color: white;
        padding: 2rem;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        position: relative;
        transition: all 1s;

        &:hover {
          background: $main-color;
          width: 85px;
          height: 85px;
          line-height: 85px;

          .process-step {
            background: $dark-color;
            color: rgb(246, 237, 237);
            transform: rotate(376deg);
          }
        }
      }
    }
  }
}

//About Me page

#about {
  &-a {
    .about-info {
      display: grid;
      grid-template-areas: "bioimage bio bio";
      grid-gap: 1.2rem;
    }

    //grid display area

    .bio {
      grid-area: bio;
      border-left: 2px solid $main-color;
      padding: 1rem;
      line-height: 2;
      background-size: cover;
      height: 100%;

      .btn-about {
        border-radius: 5px;
        padding: 0.1rem 3rem;
        margin: 5% 0% 1% 0%;
      }
    }

    .dog-text {
      font-size: 1.5rem;
      margin-top: 1%;
      padding: 3px;
    }

    .bio-img {
      position: relative;
      height: 100%;
      width: 100%;
    }

    .award-1 .fas,
    .award-2 .fas,
    .award-3 .fas {
      color: $main-color;
      margin-top: 3rem;
    }

    .about {
      height: 91%;
    }
  }

  &-b {
    .progress {
      overflow: hidden;
      //height:40px;
      background: $medium-color;
      color: black;
      font-size: 0.6rem;
      margin: auto;
      text-align: center;
      border-radius: 5px;
    }
  }

  //about

  &-c {
    .logo2 {
      width: 100%;
      height: 340px;
    }

    .container-tech {
      height: 315px;
      border-top: solid 1px rgb(63, 255, 60);
      border-right: solid 3px rgb(63, 255, 60);
    }

    /*img {
     width: 6%;
      height: 2%;
      margin: 5% 3%;

    }*/
  }
}

//contact page

#contact {
  &-a {
    .text-fields {
      display: grid;
      grid-template-areas:
        "name email"
        "subject phone"
        "message message";
      grid-gap: 1.2rems;
      margin-bottom: 1.3rem;

      //grid-areas

      .name-input {
        grid-area: name;
      }

      .subject-input {
        grid-area: subject;
      }

      .email-input {
        grid-area: email;
      }

      .phone-input {
        grid-area: phone;
      }

      .message-input {
        grid-area: message;
        height: 150px;
      }

      .text-input {
        padding: 0.5rem 1rem;
      }
    }

    button[type="submit"] {
      width: 50%;
    }
  }

  &-b {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }
  }

  &-c {
    h1 {
      text-align: center;
      font-size: 3rem;
      color: $main-color;
      font-family: "League Spartan" sans-serif;
      font-style: italic;
    }
  }
}

//footer

#main-footer {
  background: $dark-color;
  color: white;
  height: 6rem;
  margin: 20px 5px 5px 5px;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .social .fab {
      margin-right: 1rem;
      border: 2px rgb(250, 245, 245) solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background: $main-color;
      }
    }

    .fa-linkedin {
      color: #0e455e;
      background: #f09433;
      background: -moz-linear-gradient(
        45deg,
        #f1f0ee 0%,
        #dcd8d6 25%,
        #b2c7e8 50%,
        #7192e6ec 75%,
        #3f36e4f7 100%
      );
      background: -webkit-linear-gradient(
        45deg,
        #f1f0ee 0%,
        #dcd8d6 25%,
        #b2c7e8 50%,
        #7192e6ec 75%,
        #3f36e4f7 100%
      );
      background: linear-gradient(
        45deg,
        #f1f0ee 0%,
        #dcd8d6 25%,
        #b2c7e8 50%,
        #7192e6ec 75%,
        #3f36e4f7 100%
      );
    }

    .fa-instagram {
      background: #f09433;
      background: -moz-linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
      );
      background: -webkit-linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
      );
      background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
      );
    }

    .fa-twitter {
      color: #1d9bf0;
      background: #a7d4ec;
      background: -moz-linear-gradient(
        45deg,
        #f8f8f7 0%,
        #81d2f7 25%,
        #a8d6f9 50%,
        #ebedef 75%,
        #ddeaed 100%
      );
      background: -webkit-linear-gradient(
        45deg,
        #fafaf9 0%,
        #84cced 25%,
        #9fccee 50%,
        #ccdbe6 75%,
        #c1e0e7 100%
      );
      background: linear-gradient(
        45deg,
        #f8f7f6 0%,
        #a2dbf6 25%,
        #a5d3f6 50%,
        #cdd0d2 75%,
        #b5dce4 100%
      );
    }

    .fa-github {
      color: black;
      background: #0a0a0a;
      background: -moz-linear-gradient(
        90deg,
        #f1f0ee 0%,
        #aca9a8 25%,
        #737575 50%,
        #6f6e6f96 75%,
        #95939366 100%
      );
      background: -webkit-linear-gradient(
        90deg,
        #f1f0ee 0%,
        #aca9a8 25%,
        #757373 50%,
        #74737494 75%,
        #7978786c 100%
      );
      background: linear-gradient(
        90deg,
        #f1f0ee 0%,
        #aca9a8 25%,
        #757373 50%,
        #807f7f94 75%,
        #8f8d8d6c 100%
      );
    }
  }
}

//import Media queries
@import "_media";
