@import "config";
@import "utilities";
@import "item_grid";

//General Styling

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 2;
  background-color: rgb(41, 41, 41);
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat";
  color: white;
}

h4 {
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  word-spacing: 5;
}

p {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1rem;
  text-align: center;
  padding: 0 50px 0 50px;
}

.about-p {
  padding-bottom: 15px;
}

.lead {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  font-family: "Montserrat", sans-serif;
}

.top-process {
  font-family: "Montserrat", sans-serif;
  line-height: 1.9;
  font-size: 0.9rem;
  padding: 0px 5px;
  margin: 0 auto;
}

.icon-a {
  font-size: 0.9rem;
  margin-top: 15px;
  text-align: center;
  line-height: 1.5rem;
  word-spacing: 1px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

img {
  width: 100%;
}

/************BUTTONS FOR WORK ANIMATIONS**************/
button {
  background-color: #1213131d;
  padding: 5px 25px;
  margin: 0 3px;
  border: solid 2px #01a2e2;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;

  &:hover {
    background-color: #01a2e2;
    border-radius: 0px;
    border: 1px solid #2d2d2d;
    cursor: pointer;
  }
}

.navbar.top {
  background: transparent;
}

.home {
  margin: 0 -25px;
}

.weblinks {
  color: #ffff;
  font-size: 1rem;
  font-weight: 400;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(41, 41, 41);
  opacity: 0.8;
  height: 60px;
  width: 100%;
  position: fixed;
  transition: 0.5s;
  z-index: 2;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.1rem;
  }

  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "Montserrat";
    border-bottom: 1px transparent solid;
    padding-bottom: 1rem;
    transition: border-color 0.6s;

    &:hover {
      color: $main-color;
      opacity: none;
      font-size: 1.1rem;
      font-weight: 200;
    }

    &:current {
      color: $main-color;
    }
  }

  .nav-heading {
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
    color: white;
  }

  .navbar.top {
    background: transparent;
  }

  .nav-logo {
    position: relative;
    height: 25px;
    width: 240px;
    margin: auto 20px;
    padding-top: 20px;
  }

  .about-nav {
    font-size: 1rem;
  }
}

//header

#header {
  &-home {
    background: rgba(0.1, 0.2, 0.5, 0.6) $bg-image 10% 60% / 100% no-repeat
      fixed;
    background-blend-mode: darken;
    background-size: cover;
    height: 99vh;
    color: white;

    //header text-content

    .header-content {
      text-align: center;
      padding: 4%;
      margin-top: 185px;

      h1 {
        font-size: 2.95rem;
        margin-top: 5rem;
      }

      .header-lighttxt {
        color: #01a2e2;
        font-size: 15px;
      }

      .btn-pro {
        text-decoration: underline;
      }

      .txt-type {
        color: $main-color;
        font-style: italic;
      }

      .specialize {
        font-size: 15px;
        color: rgb(222, 222, 222);
        margin-bottom: 25px;
        font-family: "Montserrat", sans-serif;
      }
    }
  }

  // Header inner

  &-inner {
    background: rgba(0, 0, 0, 0) $bg-image 10% 10% / 100% no-repeat fixed;
    /*background-blend-mode: darken;*/
    background-size: cover;
    height: 4.5rem;
    border-bottom: 3px solid $main-color;
    margin-top: 0 auto;
  }
}

//top home section (a)

#home {
  &-a {
    .specials {
      margin-top: 3rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
    }

    .fas {
      color: $main-color;
      padding-bottom: 0.4rem;
    }
  }

  // Awards and work section (b)

  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 350px;

      li {
        line-height: 2;

        &.stats-title {
          font-size: 1.5rem;
        }

        &.stats-number {
          font-size: 2rem;
          font-weight: bold;
        }
      }

      div {
        padding: 3rem;

        &:nth-child(odd) {
          background-image: url("../img/mainbackground.jpg");
        }

        &:nth-child(even) {
          background: $medium-color;
        }
      }
    }
  }

  //home section C

  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      text-align: center;

      //process-step

      .design {
        font-size: 0.8rem;
        padding: 5px;
      }

      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 28px;
        background: #e6e2df;
        color: #2d2d2d;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        line-height: 15px;
        padding: 1rem;
        transition: all 1s;
      }

      //process-icon animations

      &-icon {
        border-radius: 50%;
        background: #2d2d2d;
        color: #01a2e2;
        padding: 2rem;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        position: relative;
        transition: all 1s;

        &:hover {
          background: #e6e0dd;
          color: #2d2d2d;
          width: 87px;
          height: 87px;
          line-height: 85px;

          .process-step {
            background: #2d2d2d;
            color: #01a2e2;
            transform: rotate(375deg);
          }
        }
      }
    }
  }
}

//About Me page

#about {
  // About A
  &-a {
    .about-info {
      display: grid;
      grid-template-areas:
        "bioimage bio bio"
        "aw1 aw2 aw3";
      grid-gap: 1.2rem;
      width: fit-content;
    }

    // Grid Area
    .bio-image {
      grid-area: bioimage;
    }

    .bio {
      grid-area: bio;
      border-left: 3px solid $main-color;
      padding: 0.8rem;
    }

    .award-1 {
      grid-area: aw1;
    }

    .award-2 {
      grid-area: aw2;
    }

    .award-3 {
      grid-area: aw3;
    }

    .award-1 .fas,
    .award-2 .fas,
    .award-3 .fas {
      color: $main-color;
    }

    .section-title {
      font-family: "Montserrat";
    }

    .lead {
      font-family: "Montserrat";
      font-size: 16px;
    }

    /***********TEXT FOR THE ABOUT ME INFO***********/

    .about-txt {
      font-family: "Montserrat";
      font-size: 20px;
      line-height: 1.7;
      padding: 5px;
      margin-top: 100px;
      padding: 20px 20px 30px 20px;
    }
  }
  // About B

  //about

  &-c {
    /***************TECHNOLOGIES IMAGE**********************/
    .logo2 {
      width: 100%;
      height: 280px;
    }

    .container-tech {
      height: 260px;
      border-top: solid 3px #ec7625;
      padding-top: 15px;
      margin-bottom: 100px;
    }
  }
}

.btn-about {
  border-radius: 20px;
  padding: 0.1rem 3rem;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-about:hover {
  color: #fff;
  border-radius: 0px;
  font-weight: 600;
}

//contact page

#contact {
  &-a {
    .text-fields {
      display: grid;
      grid-template-areas:
        "name email"
        "subject phone"
        "message message";
      grid-gap: 1.2rems;
      margin-bottom: 1.3rem;
      padding: 0px 50px 0px 50px;

      //grid-areas

      .name-input {
        grid-area: name;
        height: 40px;
        border-radius: 10px;
      }

      .subject-input {
        grid-area: subject;
        height: 40px;
        border-radius: 10px;
      }

      .email-input {
        grid-area: email;
        height: 40px;
        border-radius: 10px;
      }

      .phone-input {
        grid-area: phone;
        height: 40px;
        border-radius: 10px;
      }

      .message-input {
        grid-area: message;
        height: 100px;
        border-radius: 5px;
        margin-top: 5px;
        text-align: center;
      }

      .text-input {
        padding: 0.5rem 1rem;
      }
    }

    button[type="submit"] {
      width: 40%;
      padding: 10px;
    }

    .contact-button {
      border-radius: 5px;
      color: white;
      font-size: 1rem;
      font-weight: 600;
    }

    .contact-button:hover {
      border-radius: 0px;
    }
  }

  &-b {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }
  }

  &-c {
    h1 {
      text-align: center;
      font-size: 3rem;
      color: $main-color;
      font-family: "League Spartan" sans-serif;
      font-style: italic;
    }
  }
}

.contact-cta {
  font-family: "Montserrat" !important;
  color: rgb(215, 215, 215) !important;
}

//footer

#main-footer {
  background: $dark-color;
  color: white;
  height: 6rem;
  margin: 20px 5px 5px 5px;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .social .fab {
      margin-right: 1rem;
      border: 2px rgb(250, 245, 245) solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background: #01a2e2;
      }
    }

    .fa-linkedin {
      color: #0e455e;
      background: #01a2e2;
      background: -moz-linear-gradient(
        45deg,
        #f1f0ee 0%,
        #dcd8d6 25%,
        #b2c7e8 50%,
        #7192e6ec 75%,
        #3f36e4f7 100%
      );
      background: -webkit-linear-gradient(
        45deg,
        #f1f0ee 0%,
        #dcd8d6 25%,
        #b2c7e8 50%,
        #7192e6ec 75%,
        #3f36e4f7 100%
      );
      background: linear-gradient(
        45deg,
        #f1f0ee 0%,
        #dcd8d6 25%,
        #b2c7e8 50%,
        #7192e6ec 75%,
        #3f36e4f7 100%
      );
    }

    .fa-instagram {
      background: #01a2e2;
      background: -moz-linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #ec9f06 50%,
        #cc2366 75%,
        #bc1888 100%
      );
      background: -webkit-linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #c38604 75%,
        #c87304 100%
      );
      background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #e48405 50%,
        #cc2366 75%,
        #bc1888 100%
      );
    }

    .fa-x-twitter {
      color: #1a1d1f;
      background: #1a1a1a;
      background: -moz-linear-gradient(
        45deg,
        #373735 0%,
        #3f4041 25%,
        #8f8f90 50%,
        #616162 75%,
        #0a0a0a 100%
      );
      background: -webkit-linear-gradient(
        45deg,
        #1d1d1c 0%,
        #383839 25%,
        #929597 50%,
        #080808 75%,
        #0b0b0b 100%
      );
      background: linear-gradient(
        45deg,
        #d0cfcf 0%,
        #3d3d3d 25%,
        #b6b8b8 50%,
        #343333 75%,
        #141414 100%
      );
    }

    .fa-github {
      color: black;
      background: #0a0a0a;
      background: -moz-linear-gradient(
        90deg,
        #f1f0ee 0%,
        #aca9a8 25%,
        #737575 50%,
        #6f6e6f96 75%,
        #95939366 100%
      );
      background: -webkit-linear-gradient(
        90deg,
        #0b0b0b 0%,
        #141414 25%,
        #f2f1f1 50%,
        #0c0c0c94 75%,
        #201f1f6c 100%
      );
      background: linear-gradient(
        90deg,
        #060606 0%,
        #cecccc 25%,
        #e1e0e0 50%,
        #807f7f94 75%,
        #0c0c0c6c 100%
      );
    }
  }
}

//import Media queries
@import "_media";
